<div
  class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
>
  <div class="py-6 px-4 md:px-6 xl:px-7.5">
    <h4 class="text-xl font-bold text-black dark:text-white">CLASS SCHEDULE</h4>
  </div>

  <div
    class="grid grid-cols-6 border-t border-stroke py-4.5 px-4 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5"
  >
    <div class="col-span-3 flex items-center">
      <p class="font-medium">Course Code/Title</p>
    </div>
    <div class="col-span-3 hidden items-center sm:flex">
      <p class="font-medium">Schedule Time/Room</p>
    </div>
    <div class="col-span-2 flex items-center">
      <p class="font-medium">Faculty</p>
    </div>
  </div>

  <div
    class="grid grid-cols-6 border-t border-stroke py-4.5 px-4 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5"
  >
    <div class="col-span-3 flex items-center">
      <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <p class="text-sm font-medium text-black dark:text-white">
          GE-IER <br />
          Intensive English Review
        </p>
      </div>
    </div>
    <div class="col-span-3 hidden items-center sm:flex">
      <p class="text-sm font-medium text-black dark:text-white">
        Tuesday, 10:00 AM - 12:00 PM GE Bldg Rm 11 <br />
        Friday, 10:00 AM - 12:00 PM GE Bldg Rm 11 <br />
      </p>
    </div>
    <div class="col-span-2 flex items-center">
      <p class="text-sm font-medium text-black dark:text-white">
        Ruby Joy Teodones
      </p>
    </div>
  </div>

  <div
    class="grid grid-cols-6 border-t border-stroke py-4.5 px-4 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5"
  >
    <div class="col-span-3 flex items-center">
      <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <p class="text-sm font-medium text-black dark:text-white">
          GE-EM <br />
          The Entreprenurial Mindset
        </p>
      </div>
    </div>
    <div class="col-span-3 hidden items-center sm:flex">
      <p class="text-sm font-medium text-black dark:text-white">
        Wednesday, 07:00 AM - 10:00 AM GE Bldg Rm 10 <br />
        Thursday, 07:00 AM - 10:00 AM GE Bldg Rm 10 <br />
      </p>
    </div>
    <div class="col-span-2 flex items-center">
      <p class="text-sm font-medium text-black dark:text-white">
        Sherre Ann Delos Reyes
      </p>
    </div>
  </div>

  <div
    class="grid grid-cols-6 border-t border-stroke py-4.5 px-4 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5"
  >
    <div class="col-span-3 flex items-center">
      <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <p class="text-sm font-medium text-black dark:text-white">
          GE-MDS <br />
          Mathematics for Data Science
        </p>
      </div>
    </div>
    <div class="col-span-3 hidden items-center sm:flex">
      <p class="text-sm font-medium text-black dark:text-white">
        Monday, 01:00 PM - 04:00 PM GE Bldg Rm 7 <br />
        Thursday, 01:00 PM - 04:00 PM GE Bldg Rm 7 <br />
      </p>
    </div>
    <div class="col-span-2 flex items-center">
      <p class="text-sm font-medium text-black dark:text-white">
        Ivan Castillo
      </p>
    </div>
  </div>

  <div
    class="grid grid-cols-6 border-t border-stroke py-4.5 px-4 dark:border-strokedark sm:grid-cols-8 md:px-6 2xl:px-7.5"
  >
    <div class="col-span-3 flex items-center">
      <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <p class="text-sm font-medium text-black dark:text-white">
          CS - 7/L <br />
          Networks and Communications
        </p>
      </div>
    </div>
    <div class="col-span-3 hidden items-center sm:flex">
      <p class="text-sm font-medium text-black dark:text-white">
        Wednesday, 01:00 PM - 04:00 PM GE Bldg Rm 7 <br />
        Friday, 01:00 PM - 04:00 PM GE Bldg Rm 7 <br />
      </p>
    </div>
    <div class="col-span-2 flex items-center">
      <p class="text-sm font-medium text-black dark:text-white">Kim Baguio</p>
    </div>
  </div>
</div>
